@{

var pessoaDAO = new PessoaDAO();

var pessoas = pessoaDAO.getAll();

}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Todas as pessoas</title>
  </head>
  <body>
    <div id="tabelas">
    @foreach ( var p in pessoas) {
    <div>
      <table id="pessoas">
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>CPF</th>
        </tr>
        <tr>
          <td>@p.id</td>
          <td>@p.nome</td>
          <td>@p.cpf</td>
        </tr>
        <tr>
          <th>Logradouro</th>
          <th>Numero</th>
          <th>CEP</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>Estado</th>
        </tr>
        <tr>
          <td>@p.endereco.logradouro</td>
          <td>@p.endereco.numero</td>
          <td>@p.endereco.cep</td>
          <td>@p.endereco.bairro</td>
          <td>@p.endereco.cidade</td>
          <td>@p.endereco.estado</td>
        </tr>
        @if(p.telefones.Count > 0) {
        <tr>
          <th>Numero</th>
          <th>Tipo</th>
        </tr>
        }
          @foreach( Telefone t in p.telefones) {
          <tr>
            <td>( @t.DDD ) @t.numero</td>
            <td>Tipo: @t.tipo.tipo </td>
          </tr>
          }
<<<<<<< HEAD
           <tr>
=======
          <tr>
>>>>>>> 73947928fce980e97a3dccd58798f6d2db40b320
              <th>Acões</th>
          </tr>
          <tr>
          <td>
<<<<<<< HEAD
              <a href="/Usuario/Editar?Id=@p.id">Editar</a>
          </td>
          </tr>
=======
              <a href="/home/editar/@p.id">Editar</a>
          </td>

>>>>>>> 73947928fce980e97a3dccd58798f6d2db40b320
      </table>
      <br/>
    </div>

    }
  </div>
  </body>
</html>
